<!-- <app-footer-breadcrum></app-footer-breadcrum> -->
<!-- FOOTER -->
<footer id="t3-footer" class="wrap t3-footer">

  <!-- FOOT NAVIGATION -->
  <div class="container">
    <!-- SPOTLIGHT -->
    <div class="t3-spotlight t3-footnav  row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="t3-module module " id="Mod114">
          <div class="module-inner">
            <h3 class="module-title ">
              <span>About Us</span>
            </h3>
            <div class="module-ct">
              <div class="custom">
                <p>Pantheon Law has provided a full range of services to domestic and international clients who conduct investing
                  and business in Vietnam. Bring the best benefits to clients. That is all we have done.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="t3-module module" id="Mod116">
          <div class="module-inner">
            <h3 class="module-title">
              <span>Latest News</span>
            </h3>
            <div class="module-ct">
              <div class="cat-footer-module row">
                <!-- @{ var blogs = (await BlogServices.GetNewBlogsAsync(2)).Data; foreach (var blog in blogs) {
                
                } } -->
                <div class="cat-footer-item col-xs-12">
                  <div class="item-content">
                    <h5 class="name">
                      <a class="mod-articles-category-title">
                        Blog 1
                      </a>
                    </h5>
                    <p class="mod-articles-category-introtext">
                      test
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SPOTLIGHT -->
  </div>
  <!-- //FOOT NAVIGATION -->
  <app-footer-copy-right></app-footer-copy-right>

  <!-- BACK TOP TOP BUTTON -->
  <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix-top">
    <button class="btn btn-primary" title="@Dict.BackToTop">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
  <!-- BACK TO TOP BUTTON -->