<div class="heading-section" id="layout-content" init="initPage_Contact">
  <div class="container">
    <div class="heading-ct">
      <h1 class="heading-title animated zoomIn">Contact us</h1>
      <p class="heading-intro animated fadeIn delay3">Pantheon Law have worked across practices, jurisdictions to provide simple, effectively approaches to their most complex
        legal and business challenges to clients, whether domestic or international.</p>
    </div>
  </div>
</div>

<div id="t3-mainbody" class="container t3-mainbody">
  <div class="row">
    <!-- MAIN CONTENT -->
    <div id="t3-content" class="t3-content col-xs-12">
      <div id="system-message-container">
      </div>
      <div class="contact">
        <div class="contact-row">

          <div class="contact-form">
            <form id="contact-form" method="post" class="form-validate form-horizontal" action="http://www.pantheon.vn/Message/Contact?lang=en">
              <fieldset>
                <legend>Send an Email. All fields with an asterisk (*) are required.</legend>
                <div class="col-sm-6 contact-info">
                  <div class="control-group">
                    <div class="control-label">
                      <label for="contact-name" class="hasPopover required" title="Name" data-content="Your name">
                        Name
                        <span class="star">&#160;*</span>
                      </label>
                    </div>
                    <div class="controls">
                      <input type="text" name="contact-name" id="contact-name" value="" class="required" size="30" required aria-required="true"
                      />
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="control-label">
                      <label for="contact-email" class="hasPopover required" title="Email" data-content="Email Address for contact.">
                        Email
                        <span class="star">&#160;*</span>
                      </label>
                    </div>
                    <div class="controls">
                      <input type="email" name="contact-email" id="contact-email" class="validate-email required" value="" size="30" autocomplete="email"
                        required aria-required="true" />
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="control-label">
                      <label for="contact-subject" class="hasPopover required" title="Subject" data-content="Enter the subject of your message here.">
                        Subject
                        <span class="star">&#160;*</span>
                      </label>
                    </div>
                    <div class="controls">
                      <input type="text" name="contact-subject" id="contact-subject" value="" class="required" size="60" required aria-required="true"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 contact-message">
                  <div class="control-group">
                    <div class="control-label">
                      <label for="contact-message" class="hasPopover required" title="Message" data-content="Enter your message here.">
                        Message
                        <span class="star">&#160;*</span>
                      </label>
                    </div>
                    <div class="controls">
                      <textarea name="contact-message" id="contact-message" cols="50" rows="8" class="required form-control" required></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 contact-actions text-center">
                  <div class="control-group emailcopy col-sm-4">
                    <div class="control-label">
                      <label for="jform_contact_email_copy" class="hasPopover" title="Send copy to yourself" data-content="Sends a copy of the message to the address you have supplied.">
                        Send copy to yourself
                      </label>
                    </div>
                    <div class="controls">
                      <input type="checkbox" name="jform_contact_email_copy" id="jform_contact_email_copy" value="1" />
                    </div>
                  </div>

                  <div class="control-group col-sm-4 plugins">
                    <div class="controls">
                    </div>
                  </div>
                  <div class="form-actions col-sm-4 control-group">
                    <button class="btn btn-primary btn-lg validate" type="submit">Send Email</button>
                  </div>
                </div>
              </fieldset>
              <input name="__RequestVerificationToken" type="hidden" value="CfDJ8IB-HgPfomlMhb9cIExh_2XqQ5BnvHpirQBPWsJvy5BYEuWGlhw4Fu4eZ03FFKE7qcxfVIFYEMsl95TeLtEyvtL04hLY5Q-qUUbnrQCyoLq-nWlwumSrPlR95FBmiCWq5lTMaIe0cA2RPcgNPB138us"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- //MAIN CONTENT -->
  </div>
</div>

<div class="bottom-section ">
  <div class="section white-color" id="section-180">
    <div id="feature-180" class="feature" style="background-image: url('./assets/images/parallax_02.jpg')">
      <div class="feature-ct " style="background-color:rgba(17, 68, 136, 0.9);">
        <div class="feature-10 container clearfix">
          <div class="feature-header">
            <h3 class="feature-title">OUR OFFICE</h3>
          </div>

          <div class="feature-row clearfix">
            <div class="feature-item col-sm-6 col-md-4 col-md-offset-4">
              <div class="feature-item-ct">
                <div class="feature-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="feature-content">
                  <h4 class="feature-name">Ho Chi Minh City</h4>
                  <p class="feature-desc">
                    <p>6th Floor, Tai Loc Building, 225 Hai Ba Trung Street, Ward 6, Dist.3, HCMC
                      <br />
                      <p>
                        Tel: (84.8) 3588 1122 Fax: (84.8) 3588 1166
                        <br /> HOTLINE: 1900.2168
                      </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section padding-top-0 padding-bottom-0" id="section-181">
    <div id="ut-ctc-181" class="ut-ctc  padding-top-0 padding-bottom-0">
      <div class="ctc-ct ">
        <div class="ctc-map-info ">
          <div class="ctc-bottom">
            <div class="google-map">
              <div id="map-canvas181" class="map-canvas" style="width:100%;height:400px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>