<div class="t3-wrapper">
  <!-- Need this wrapper for off-canvas menu. Remove if you don't use of-canvas -->
  <!-- HEADER -->
  <header id="t3-header" class="t3-header">
      <div class="container">
          <div class="row">
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <div class="contact-me-small row visible-xs">
                      <div class="col-md-12 contact-me-small-email"><i class="text-primary fa fa-envelope"></i>&ensp;&ensp;bao.tran@pantheon.vn</div>
                      <div class="col-xs-12 contact-me-small-phone"><i class="text-primary fa fa-phone"></i>&ensp;&ensp;(08) 3588-1122</div>
                  </div>
                  <div class="contact-me hidden-xs">
                      <div id="ut-ctc-179" class="ut-ctc ">
                          <div class="ctc-ct ">
                              <div class="ctc-info-horizontal ">
                                  <div class="info-horizontal">
                                      <dl>
                                          <dt><i class="text-primary fa fa-envelope"></i></dt>
                                          <dd>bao.tran@pantheon.vn</dd>
                                          <dt><i class="text-primary fa fa-phone"></i></dt>
                                          <dd>(08) 3588-1122</dd>
                                      </dl>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <!-- LANGUAGE SWITCHER -->
                  <div class="languageswitcherload">
                      <div class="mod-languages">
                          <ul class="lang-inline">
                              <li>
                                  <a href="javascript:changeLanguage('vi')">
                                      <img src="./assets/images/languages/vi.jpg"/>
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:changeLanguage('en')">
                                      <img src="./assets/images/languages/en.gif" />
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- //LANGUAGE SWITCHER -->
              </div>
          </div>
      </div>
  </header>
  <!-- //HEADER -->