<nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav" data-spy="affix" data-offset-top="46">
  <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

          <button class="btn btn-primary off-canvas-toggle hidden-lg hidden-md hidden-sm" type="button" data-pos="right" data-nav="#t3-off-canvas" data-effect="off-canvas-effect-4">
              <i class="fa fa-bars"></i>
              <i class="fa fa-times" aria-hidden="true"></i>
          </button>

          <!-- OFF-CANVAS SIDEBAR -->
          <div id="t3-off-canvas" class="t3-off-canvas  hidden-lg hidden-md hidden-sm">

              <div class="t3-off-canvas-header">
                  <h2 class="t3-off-canvas-header-title">Sidebar</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>

              <div class="t3-off-canvas-body">
                  <div class="t3-module module_menu" id="Mod1">
                      <div class="module-inner">
                          <div class="module-ct">
                              <ul class="nav nav-pills nav-stacked ">
                                  <li>
                                      <a >Home</a>
                                  </li>
                                  <li>
                                      <a>AboutUs</a>
                                  </li>
                                  <li>
                                      <a>Services</a>
                                  </li>
                                  <li>
                                      <a>Contact Us</a>
                                  </li>
                                  <li>
                                      <a>Blog</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <!-- //OFF-CANVAS SIDEBAR -->
          <!-- LOGO -->
          <div class="logo">
              <div class="logo-image">
                  <a href="http://www.pantheon.vn" title="PantheonLaw">
                      <img class="logo-img" src="./assets/images/logo.png"  style="height: 60px;margin-top: -18px;" />
                      <span>PantheonLaw</span>
                  </a>
                  <small class="site-slogan"></small>
              </div>
          </div>
          <!-- //LOGO -->
      </div>

      <div class="t3-navbar navbar-collapse collapse">
          <div class="t3-megamenu animate zoom" data-duration="400" data-responsive="true">
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a (click)="goToPage('/home')">Home</a>
                  </li>
                  <li>
                      <a (click)="goToPage('/about')">About Us</a>
                  </li>
                  <li>
                      <a (click)="goToPage('/services')">Services</a>
                  </li>
                  <li>
                      <a (click)="goToPage('/contact')">ContactUs</a>
                  </li>
                  <li >
                      <a>Blog</a>
                  </li>
              </ul>
          </div>

      </div>

  </div>
</nav>