<div class="heading-section" id="layout-content" init="initPage_About">
    <div class="container">
        <div class="heading-ct">
            <h1 class="heading-title animated zoomIn">About us</h1>
            <p class="heading-intro animated fadeIn delay3">Pantheon Law has provided a full range of services to domestic and international clients who conduct investing
                and business in Vietnam.</p>
        </div>
    </div>
</div>
<div class="page-section ">
    <div class="section" id="section-142">
        <div id="feature-142" class="feature">
            <div class="feature-ct gray-lightest">
                <div class="feature-2 container clearfix">
                    <div class="feature-row clearfix">
                        <div class="feature-item col-sm-6 col-md-6">
                            <div class="feature-item-ct">
                                <div class="feature-icon">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                                <h4 class="feature-name">Our History</h4>
                                <p class="feature-desc more">
                                    Founded in 2011, Pantheon Law has been a provider of legal services for nearly ten years. Pantheon&#x2019;s lawyers and staff
                                    have worked across practices, jurisdictions to provide simple, effectively approaches
                                    to their most complex legal and business challenges to clients, whether domestic or international.
                                    We always support every client relationship with intellectual agility as well as commercial
                                    acumen.
                                </p>
                            </div>
                        </div>
                        <div class="feature-item col-sm-6 col-md-6">
                            <div class="feature-item-ct">
                                <div class="feature-icon">
                                    <i class="fa fa-eye"></i>
                                </div>
                                <h4 class="feature-name">OUR CAPABILITIES</h4>
                                <p class="feature-desc more">
                                    Today, Pantheon Law has provided a full range of services to domestic and international clients who conduct investing and
                                    business in Vietnam. Specially, Pantheon&#x2019;s lawyers regularly advise clients globally
                                    on corporate governance, mergers and acquisitions (M&amp;A), restructuring, real estate,
                                    housing, etc. in Vietnam.&lt;br/&gt;&#xA; We have successfully consulted to developers
                                    or promoters of projects as well as traders, investors, landowners, contractors, operators,
                                    and suppliers. We frequently represent clients involved in asset, project or company
                                    acquisitions. Our lawyers has extensive experiences of representing large institutional
                                    investors such as finance investors, real estate investors, foreign investors conducting
                                    business investment in Vietnam, in connection with their investments into or acquisitions
                                    of infrastructure and assets.
                                </p>
                            </div>
                        </div>
                        <div class="feature-item col-sm-6 col-md-6">
                            <div class="feature-item-ct">
                                <div class="feature-icon">
                                    <i class="fa fa-medkit"></i>
                                </div>
                                <h4 class="feature-name">OUR CLIENTS</h4>
                                <p class="feature-desc more">
                                    Our lawyers have represented some of the financial corporations, asset managers, real estate investment and developers, including:
                                    An Gia Investment; Southern General Import-Export JSC; Atrix Capital Viet Nam Investment
                                    Consulting Co., LTD etc.&#xA;&lt;br/&gt;In 2015, Pantheon Law became the legal representative
                                    of Kova Trading JSC &#x2013; one of the leading paint brands in Vietnam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section-144">
        <div id="timeline-144" class="timeline" style="background-image: url('./assets/images/parallax_05.png')">
            <div class="timeline-ct " style="background-color:rgba(17, 68, 136, 0.95);">
                <div class="timeline-1 container">
                    <div class="timeline-header">
                        <h3 class="timeline-title">Our History</h3>
                    </div>
                    <p class="timeline-intro">Founded in 2011, Pantheon Law has been a provider of legal services for nearly ten years. Pantheon&#x2019;s
                        lawyers and staff have worked across practices, jurisdictions to provide simple, effectively approaches
                        to their most complex legal and business challenges to clients, whether domestic or international.
                        We always support every client relationship with intellectual agility as well as commercial acumen.</p>
                    <div class="timeline-row">
                        <div class="timeline-list">
                            <div class="row">
                                <div class="timeline-date col-sm-6 pull-right">2011-01-01</div>
                                <div class="timeline-item col-sm-6 pull-left">
                                    <div class="timeline-content">
                                        <div class="timeline-figure">
                                            <img src="./assets/images/timeline_02.jpg" alt="Foundation">
                                        </div>
                                        <h4 class="timeline-name">FOUNDATION</h4>
                                        <p class="timeline-desc">Founded in 2011, Pantheon Law has been a provider of legal services for nearly ten
                                            years. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="timeline-date col-sm-6 pull-left">Today and the Future</div>
                                <div class="timeline-item col-sm-6 pull-right">
                                    <div class="timeline-content">
                                        <div class="timeline-figure">
                                            <img src="./assets/images/timeline_01.jpg" alt="Planning">
                                        </div>
                                        <h4 class="timeline-name">Planning</h4>
                                        <p class="timeline-desc">To provide professional legal services to clients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section-145">
        <div id="skill-145" class="skill">
            <div class="skill-ct ">
                <div class="skill-2 container clearfix">
                    <div class="skill-header">
                        <h3 class="skill-title">OUR CAPABILITIES</h3>
                    </div>
                    <p class="skill-intro">Pantheon Law has provided a full range of services to domestic and international clients who conduct
                        investing and business in Vietnam. Specially, Pantheon&#x2019;s lawyers regularly advise clients
                        globally on corporate governance, mergers and acquisitions (M&amp;A), restructuring, real estate,
                        housing, etc. in Vietnam.</p>
                    <div class="skill-row clearfix">
                        <div class="skill-container col-sm-6">
                            <div class="skillbar" data-percent="95%">
                                <div class="count-bar brand-primary">
                                    <div class="title">Honesty</div>
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-container col-sm-6">
                            <div class="skillbar" data-percent="90%">
                                <div class="count-bar brand-secondary">
                                    <div class="title">Punctuality</div>
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-container col-sm-6">
                            <div class="skillbar" data-percent="75%">
                                <div class="count-bar brand-secondary">
                                    <div class="title">Bilingual</div>
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-container col-sm-6">
                            <div class="skillbar" data-percent="80%">
                                <div class="count-bar ">
                                    <div class="title">Assistance</div>
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section-146">
        <div id="clients-151" class="clients">
            <div class="clients-ct ">
                <div class="clients-2 container clearfix">
                    <div class="clients-header text-left">
                        <h3 class="clients-title">OUT CLIENTS</h3>
                    </div>
                    <div class="owl-clients-2 clients-row clearfix">

                        <div class="item clients-logo">
                            <a href="http://client01.com/" title="Client 01" target="_blank">
                                <img src="./assets/images/client/client_01.jpg" alt="Client 01" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_03.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_04.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_01.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_02.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_06.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_11.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_13.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_12.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_08.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_09.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_07.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>
                        <div class="item clients-logo">
                            <a href="http://client02.com/" title="Client 02" target="_blank">
                                <img src="./assets/images/client/client_05.png" alt="Client 02" class="img-responsive">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>