<div class="heading-section" id="layout-content" init="initPage_Service">
  <div class="container">
    <div class="heading-ct">
      <h1 class="heading-title animated zoomIn">Services</h1>
      <p class="heading-intro animated fadeIn delay3">Pantheon Law has provided a full range of services to domestic and international clients who conduct investing and
        business in Vietnam.</p>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="section" id="section-142">
    <div id="feature-142" class="feature">
      <div class="feature-ct gray-lightest">
        <div class="feature-2 container clearfix">
          <div class="feature-row clearfix">
            <div class="row">
              <div class="feature-item col-sm-6 col-md-6">
                <div class="feature-item-ct">
                  <div class="feature-icon">
                    <i class="fa fa-gavel"></i>
                  </div>
                  <h4 class="feature-name">CORPORATION</h4>
                  <p class="feature-desc more">
                    Corporate transactions are a main feature of the modern commercial world; Pantheon offers a pragmatic and easy approach to
                    help our clients gain their goals through these transactions.&#xA; As leaders across all corporate sectors,
                    we regularly consult clients about a range of complex transactions, including mergers and acquisitions,
                    equity and debt capital markets offerings, project finances, investments, debt restructurings and bankruptcies&#xA;
                    .&lt;br /&gt;&#xA; By professional teams, we always consult clients about increasingly intricate transactions
                    with ingenuity and efficiency.
                  </p>
                </div>
              </div>
              <div class="feature-item col-sm-6 col-md-6">
                <div class="feature-item-ct">
                  <div class="feature-icon">
                    <i class="fa fa-money"></i>
                  </div>
                  <h4 class="feature-name">Mergers and Acquisitions (M&amp;A)</h4>
                  <p class="feature-desc more">
                    Our M&amp;A lawyers are among the most experienced and effective in Vietnam. We represent many of the world&#x27;s largest
                    publicly traded and privately held companies, as well as leading corporations, financial institutions
                    and investors on their most important merger and acquisition transactions. Pantheon has a leading practice
                    focused on mergers and acquisitions, private equity, corporate governance, restructurings across the
                    real estate, constructional and commercial sectors. We always play an active role in strategic transactions
                    to help clients attain their goals.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="feature-item col-sm-6 col-md-6">
                <div class="feature-item-ct">
                  <div class="feature-icon">
                    <i class="fa fa-home"></i>
                  </div>
                  <h4 class="feature-name">REAL ESTATE</h4>
                  <p class="feature-desc more">
                    Companies involved in real estate deals need a steady, trusted hand to guide them. They need consultant who can help them
                    find new solutions for new challenges. Pantheon offers clients the best of both worlds. Our history of
                    executing every kind of deal touching real property and our business and legal savvy help the most real
                    estate projects succeed in fluctuating economic conditions. Our Real Estate Litigation Team deals with
                    real estate-related matters of all types, representing clients in disputes arising out of financing,
                    leasing and sale transactions. We are known for our professional experience with analyzing and settling,
                    through negotiation or litigation, a wide range of complex matters, including intercreditor disputes,
                    commercial landlord-tenant disputes, bankruptcy proceedings affecting real estate, partnership disputes,
                    appraisal proceedings, brokers&#x2019; claims and title matters.
                  </p>
                </div>
              </div>
              <div class="feature-item col-sm-6 col-md-6">
                <div class="feature-item-ct">
                  <div class="feature-icon">
                    <i class="fa fa-user"></i>
                  </div>
                  <h4 class="feature-name">CONTRACT CONSULTING</h4>
                  <p class="feature-desc more">
                    With skilled and experienced lawyers, Pantheon provides the qualified services in drafting and reviewing draft contract before
                    signing, consulting contract; consulting on dispute resolution of contracts in variety of areas.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="feature-item col-sm-6 col-md-6">
                <div class="feature-item-ct">
                  <div class="feature-icon">
                    <i class="fa fa-line-chart"></i>
                  </div>
                  <h4 class="feature-name">License</h4>
                  <p class="feature-desc">
                    Pantheon Law always provides necessary services in the establishing and operation of enterprises including preparing the
                    dossiers, documents and representing for clients.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section white-color" id="section-147">
    <div id="skill-147" class="skill">
      <div class="skill-ct brand-primary">
        <div class="skill-4 container clearfix">
          <div class="skill-row clearfix">
            <div class="skill-container col-sm-6 col-md-3">
              <div id="circle-147-0" data-border="inline" data-dimension="210" data-width="20" data-fontsize="36" data-text="80%" data-info="Mergers and Acquisitions (M&amp;A)"
                data-percent="65" data-fgcolor="#ffffff" data-bgcolor="#114488">
              </div>
            </div>
            <div class="skill-container col-sm-6 col-md-3">
              <div id="circle-147-1" data-border="inline" data-dimension="210" data-width="20" data-fontsize="36" data-text="95%" data-info="CONTRACT CONSULTING"
                data-percent="95" data-fgcolor="#ffffff" data-bgcolor="#114488">
              </div>
            </div>
            <div class="skill-container col-sm-6 col-md-3">
              <div id="circle-147-2" data-border="inline" data-dimension="210" data-width="20" data-fontsize="36" data-text="80%" data-info="CORPORATION"
                data-percent="80" data-fgcolor="#ffffff" data-bgcolor="#114488">
              </div>
            </div>
            <div class="skill-container col-sm-6 col-md-3">
              <div id="circle-147-3" data-border="inline" data-dimension="210" data-width="20" data-fontsize="36" data-text="85%" data-info="REAL ESTATE"
                data-percent="85" data-fgcolor="#ffffff" data-bgcolor="#114488">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section-149">
    <div id="ut-ctc-149" class="ut-ctc ">
      <div class="ctc-ct gray-lightest">
        <div class="ctc-form-info container">
          <h3 class="ctc-title">
            Contact
          </h3>
          <p class="ctc-intro">Bring the best benefits to clients. That is all we have done</p>
          <div class="ctc-top col-sx-12">
            <div class="info-horizontal">
              <dl>
                <dt>
                  <i class="text-primary fa fa-home"></i>Address</dt>
                <dd>6th Floor, Tai Loc Building, 225 Hai Ba Trung Street, Ward 6, Dist.3, HCMC</dd>
                <dt>
                  <i class="text-primary fa fa-phone"></i>Phone</dt>
                <dd>1900.2168</dd>
                <dt>
                  <i class="text-primary fa fa-envelope"></i>Mail</dt>
                <dd>bao.tran@pantheon.vn</dd>
              </dl>
            </div>
          </div>
          <div class="ctc-bottom col-sx-12">
            <div class="form-horizontal">
              <form id="ctc-form" method="post" action="http://www.pantheon.vn/Message/Consult?lang=en">
                <div class="row">
                  <div class="col-sm-4">
                    <input class="inputbox" placeholder="Name" type="text" name="contact-name" id="contact-name" value="" />
                  </div>
                  <div class="col-sm-4">
                    <input class="inputbox" placeholder="Email" type="text" name="contact-email" id="contact-email" value="" />
                  </div>
                  <div class="col-sm-4">
                    <input class="inputbox" placeholder="Subject" type="text" name="contact-subject" id="contact-subject" value="" />
                  </div>
                  <div class="col-sm-12">
                    <textarea class="textarea" placeholder="Message" name="contact-message" id="contact-message" rows="3"></textarea>
                  </div>
                  <div class="col-sm-6">
                    <div class="control-group emailcopy col-sm-4">
                      <div class="control-label">
                        <label for="jform_contact_email_copy" class="hasPopover" title="Send copy to yourself" data-content="Sends a copy of the message to the address you have supplied.">
                          Send copy to yourself
                        </label>
                      </div>
                      <div class="controls">
                        <input type="checkbox" name="jform_contact_email_copy" id="jform_contact_email_copy" value="1" style="width: auto; margin-left: -10px; margin-top: 13px;"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input class="btn btn-primary button" type="submit" value="Send message" />
                  </div>
                </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8IB-HgPfomlMhb9cIExh_2XJ7Jjxc0pwbN7uaVbIwmwGcDQGaMayk6IUwPb6fZYEebjt6TUAKydWdYxMuhhcNb9GH5VEN9aeu_bS9eUxlxVBRqXSqHwA77dMV6_2H0h7gvFnG7cuvpURF-py_MiH7y4"
                />
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section-151">
    <div id="clients-151" class="clients">
      <div class="clients-ct ">
        <div class="clients-2 container clearfix">
          <div class="clients-header text-left">
            <h3 class="clients-title">CLIENTS</h3>
          </div>
          <div class="owl-clients-2 clients-row clearfix">

            <div class="item clients-logo">
              <a href="http://client01.com/" title="Client 01" target="_blank">
                <img src="./assets/images/client/client_01.jpg" alt="Client 01" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_03.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_04.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_01.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_02.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_06.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_11.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_13.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_12.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_08.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_09.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_07.png" alt="Client 02" class="img-responsive">
              </a>
            </div>
            <div class="item clients-logo">
              <a href="http://client02.com/" title="Client 02" target="_blank">
                <img src="./assets/images/client/client_05.png" alt="Client 02" class="img-responsive">
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>