<div class="hero-section" id="layout-content">
  <div class="section" id="section-195">
    <div id="slider-195" class="sliders">
      <div class="slider-1">
        <div id="ut-carousel-195" class="carousel slide" data-ride="carousel" data-interval="12000">
          <!-- Indicators -->
          <ol class="carousel-indicators bottom">
            <li data-target="#ut-carousel-195" data-slide-to="0" class="active"></li>
            <li data-target="#ut-carousel-195" data-slide-to="1" class=""></li>
            <li data-target="#ut-carousel-195" data-slide-to="2" class=""></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item animated fadeIn active">
              <img src="./assets/images/slider_01.jpg" alt="Slide Image">
              <div class="item-ct " style="background-color:rgba(0, 0, 0, 0.5);">
                <div class="item-elements container align-center distribute-column">
                  <div class="element-section animated
              w50  delay-1s duration-1s text-center center hidden-no">
                    <h3 class="animated fadeInUp delay-1s">PANTHEON LAW</h3>
                  </div>
                  <div class="element-section animated
              w50 fadeInLeft delay-3s duration-1s text-center center hidden-xs hidden-sm">
                    <p>Pantheon Law has provided a full range of services to domestic and international clients who conduct
                      investing and business in Vietnam. Bring the best benefits to clients. That is all we have done. </p>
                  </div>
                  <div class="element-section animated
              w50  delay-1s duration-1s text-center center hidden-no">
                  </div>
                </div>
              </div>
            </div>
            <div class="item animated fadeIn ">
              <img src="./assets/images/slider_02.jpg" alt="Slide Image">
              <div class="item-ct " style="background-color:rgba(0, 0, 0, 0.5);">
                <div class="item-elements container align-center distribute-column">
                  <div class="element-section animated
              w100 fadeInDown delay-1s duration-1s text-center center hidden-no">
                    <h2 class="animated zoomIn delay-1s">RECOGNIZED SOLVING</h2>
                    <h3 class="animated fadeIn delay-2s">REAL ESTATE PROBLEMS</h3>
                  </div>
                  <div class="element-section animated
              w50 bounce delay-3s duration-1s text-center center hidden-xs hidden-sm">
                    <p>Companies involved in real estate deals need a steady, trusted hand to guide them. They need consultant
                      who can help them find new solutions for new challenges</p>
                  </div>
                  <div class="element-section animated
              w100 fadeInUp delay-4s duration-1s text-center center hidden-no">
                  </div>
                </div>
              </div>
            </div>
            <div class="item animated fadeIn ">
              <img src="./assets/images/slider_03.jpg" alt="Slide Image">
              <div class="item-ct " style="background-color:rgba(0, 0, 0, 0.5);">
                <div class="item-elements container align-center distribute-row">
                  <div class="element-section animated
              w50  delay-1s duration-1s text-right center hidden-no">
                    <h2 class="h1 animated fadeInDown delay-1s">PRACTICES:</h2>
                    <ul>
                      <li class="animated fadeInUp delay-2s">Real estate problems</li>
                      <li class="animated fadeInUp delay-3s">Corporation Problems</li>
                      <li class="animated fadeInUp delay-4s">License</li>
                      <li class="animated fadeInUp delay-5s">Contract problems</li>
                      <li class="animated fadeInUp delay-6s">
                        <a href="#">MORE PRACTICES</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Controls -->
          <a class="left carousel-control middle " href="#ut-carousel-195" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control middle" href="#ut-carousel-195" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homes">
  <div class="wrap sectons home-1 ">
    <div class="section" id="section-145">
      <div id="skill-145" class="skill">
        <div class="skill-ct ">
          <div class="skill-2 container clearfix">
            <div class="skill-header">
              <h3 class="skill-title">OUR CAPABILITIES</h3>
            </div>
            <p class="skill-intro">Pantheon Law has provided a full range of services to domestic and international clients who conduct investing
              and business in Vietnam. Specially, Pantheon&#x2019;s lawyers regularly advise clients globally on corporate
              governance, mergers and acquisitions (M&amp;A), restructuring, real estate, housing, etc. in Vietnam.</p>
            <div class="skill-row clearfix">
              <div class="skill-container col-sm-6">
                <div class="skillbar" data-percent="95%">
                  <div class="count-bar brand-primary">
                    <div class="title">Honesty</div>
                    <div class="count"></div>
                  </div>
                </div>
              </div>
              <div class="skill-container col-sm-6">
                <div class="skillbar" data-percent="90%">
                  <div class="count-bar brand-secondary">
                    <div class="title">Punctuality</div>
                    <div class="count"></div>
                  </div>
                </div>
              </div>
              <div class="skill-container col-sm-6">
                <div class="skillbar" data-percent="75%">
                  <div class="count-bar brand-secondary">
                    <div class="title">Bilingual</div>
                    <div class="count"></div>
                  </div>
                </div>
              </div>
              <div class="skill-container col-sm-6">
                <div class="skillbar" data-percent="80%">
                  <div class="count-bar ">
                    <div class="title">Assistance</div>
                    <div class="count"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="section-134">
      <div id="skill-134" class="skill" style="background-image: url(./assets/images/parallax_01.jpg)">
        <div class="skill-ct " style="background-color:rgba(17, 68, 136, 0.95);">
          <div class="skill-3 container clearfix">
            <div class="skill-header">
              <h3 class="skill-title">OUR CASES WON</h3>
            </div>
            <p class="skill-intro">Pantheon Law always provides the best qualified services to clients.</p>
            <div class="skill-row clearfix">
              <div class="skill-container col-sm-6 col-md-3">
                <div class="count-ctrl">
                  <span class="count-count" data-decimals="" data-decimal-delimiter="" data-thousand-delimiter="" data-value="70" data-duration="2000"></span>
                  <span>%</span>
                </div>
                <h5 class="count-name">REAL ESTATE</h5>
                <p class="count-desc"></p>
              </div>
              <div class="skill-container col-sm-6 col-md-3">
                <div class="count-ctrl">
                  <span class="count-count" data-decimals="" data-decimal-delimiter="" data-thousand-delimiter="" data-value="75" data-duration="3000"></span>
                  <span>%</span>
                </div>
                <h5 class="count-name">LICENSE</h5>
                <p class="count-desc"></p>
              </div>
              <div class="skill-container col-sm-6 col-md-3">
                <div class="count-ctrl">
                  <span class="count-count" data-decimals="" data-decimal-delimiter="" data-thousand-delimiter="" data-value="85" data-duration="4000"></span>
                  <span>%</span>
                </div>
                <h5 class="count-name">CORPORATIONS</h5>
                <p class="count-desc"></p>
              </div>
              <div class="skill-container col-sm-6 col-md-3">
                <div class="count-ctrl">
                  <span class="count-count" data-decimals="" data-decimal-delimiter="" data-thousand-delimiter="" data-value="80" data-duration="5000"></span>
                  <span>%</span>
                </div>
                <h5 class="count-name">CONTRACTS</h5>
                <p class="count-desc"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="section-136">
      <div id="action-136" class="action" style="background-image: url('./assets/images/parallax_02.jpg')">
        <div class="action-ct " style="background-color:rgba(17, 68, 136, 0.9);">
          <div class="action-1 container clearfix">
            <h3 class="action-title">We are here to give legal help</h3>
            <p class="action-intro"></p>

          </div>
        </div>
      </div>
    </div>
    <div class="section" id="section-139">
      <div id="clients-151" class="clients">
        <div class="clients-ct ">
          <div class="clients-2 container clearfix">
            <div class="clients-header text-left">
              <h3 class="clients-title">OUT CLIENTS</h3>
            </div>
            <div class="owl-clients-2 clients-row clearfix">

              <div class="item clients-logo">
                <a href="http://client01.com/" title="Client 01" target="_blank">
                  <img src="./assets/images/client/client_01.jpg" alt="Client 01" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_03.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_04.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_01.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_02.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_06.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_11.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_13.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_12.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_08.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_09.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_07.png" alt="Client 02" class="img-responsive">
                </a>
              </div>
              <div class="item clients-logo">
                <a href="http://client02.com/" title="Client 02" target="_blank">
                  <img src="./assets/images/client/client_05.png" alt="Client 02" class="img-responsive">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section padding-bottom-0" id="section-140">
      <div class="section padding-bottom-0" id="section-140">
        <div id="ut-ctc-140" class="ut-ctc padding-bottom-0">
          <div class="ctc-ct " style="background-color:rgba(234, 234, 234, 1);">
            <div class="ctc-map-info ">
              <h3 class="ctc-title">Contact us</h3>
              <p class="ctc-intro">PANTHEON LAW</p>
              <div class="ctc-top">
                <div class="info-horizontal">
                  <dl>
                    <dt>
                      <i class="text-primary fa fa-home"></i>Address</dt>
                    <dd>6th Floor, Tai Loc Building, 225 Hai Ba Trung Street, Ward 6, Dist.3, HCMC</dd>
                    <dt>
                      <i class="text-primary fa fa-phone"></i>Phone</dt>
                    <dd>(08) 3588-1122</dd>
                    <dt>
                      <i class="text-primary fa fa-envelope"></i>Email</dt>
                    <dd>bao.tran@pantheon.vn</dd>
                  </dl>
                </div>
              </div>
              <div class="ctc-bottom">

                <div class="google-map">
                  <div id="map-canvas140" class="map-canvas" style="width:100%;height:400px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.319461210021!2d106.69080331438504!3d10.786826261952262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f339d89fd83%3A0x183c819e431edbec!2zMjI1IEhhaSBCw6AgVHLGsG5nLCBwaMaw4budbmcgNiwgUXXhuq1uIDMsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1512529055723"
                      width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>